{% extends "basic.html" %}

{% block content %}
<h2>Menu</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Selling price
            </th>
        </tr>
    </thead>

    <tbody>
    {% for drink in drinks %}
        <tr>
            <td>
                {{ drink.name }}
            </td>
            <td>
                {{ drink.quantity }}
            </td>
            <td>
                {{ drink.price }}
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}
